DB_HOST = "127.0.0.1"
DB_PORT = 3306
DB_USER = "your_username"
DB_PASSWORD = "your_password"
DB_NAME = "ec_cross_ceshi"

DWD_TABLE = "dwd_sales_detail_2026_gj"
DM_TABLE = "dm_monthly_business_metrics_2026_gj"
DWS_PLATFORM_TABLE = "dws_platform_month_summary_2026_gj"
DWS_REGION_TABLE = "dws_region_month_summary_v2_final_2026_gj"
DWS_CATEGORY_TABLE = "dws_category_month_top10_2026_gj"
DM_ENTERPRISE_TABLE = "dm_enterprise_sales_rank_2026_gj"
